@mixin tablet {
    @media screen and (max-width : 960px) {
        @content;
    }
};
@mixin mobile {
    @media screen  and (max-width : 675px){
        @content;
    }
};
@mixin small-mobile {
    @media screen and (max-width:425px) {
        @content;
    }
};


@import "./variables/colors";
@import "./pages/index";
@import "./pages/produit";
@import "./pages/panier";
@import "./pages/confirmation";

*{
    margin: 0;
    font-family: 'Finger Paint';
    background-color: $color-bg ;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

#header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    h1{
        text-align: center;
        font-size: 6em;
        background: -webkit-linear-gradient(10deg, $orange-deg, $violet-deg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include mobile(){
            font-size: 3.5em;
        }
        @include small-mobile(){
            font-size: 2em;
        }
        
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        li{
            a{
                @include mobile(){
                    font-size: 0.8em;
                }
            }
        }
    }
}

footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}



