$color-bg : #FFDFB0;

*{
    margin: 0;
    font-family: 'Finger Paint';
    background-color: $color-bg ;
}
a{
    text-decoration: none;
}

#header{
    h1{
        text-align: center;
        font-size: 6em;
        background: -webkit-linear-gradient(10deg, #F39C12,  #a35ec0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
}

#main{
    background-color: #D8C09D;
    margin: 50px;
    padding: 1px;
    box-shadow: 0 1px 5px #7A6C57;
    article{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 100px;
        
        img{
            width: 20%;
            box-shadow: 0 1px 5px #7A6C57;
            margin-right: 10px;
        }
        h2{
            width: 33%;
        }
        p{
            width: 20%;
            font-size: 1.5em;
        }
        a{
            font-size: 1.5em;
            color: black;
            width: 30%;
            margin-right: 10px;
        }
    }
}

select{
    margin-left: 250px;
}
#detailProduit{
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        img{
        width: 20%;
        }
        .content{
            width: 35%;
            margin-left: 20px;
        }
        .precision{
            display: flex;
            flex-direction: column;
            width: 30%;
            h2{
                font-size: 1.5em;
            }
            .prix{
                font-size: 1.4em;
            }
            select{
                margin: auto;
            }
            .btn_ajoutPanier{
                width: 40%;
                margin: auto;
                background-color: burlywood;

            }
        }

    }
    
}

footer{
    text-align: center;
    margin-bottom: 20px;
}