*{
    margin: 0;
    font-family: 'Finger Paint';
}
a{
    text-decoration: none;
}

#header{
    h1{
        text-align: center;
        font-size: 6em;
        background: -webkit-linear-gradient(10deg, #F39C12,  #a35ec0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
}

#main{
    article{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 100px;
        img{
            width: 20%;
        }
        h2{
            width: 33%;
        }
        p{
            width: 20%;
            font-size: 1.5em;
        }
        a{
            font-size: 1.4em;
            color: black;
        }
    }
}