#main {
    background-color: $bg-main;
    margin: 50px;
    padding: 10px;
    box-shadow: 0 1px 5px $shadow-main;

    @include small-mobile() {
        margin: 10px;
    }


    article {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 100px;

        @include tablet() {
            flex-direction: column;
            width: 70%;
            margin: auto;
            margin-top: 30px;
        }

        img {
            width: 20%;
            box-shadow: 0 1px 5px #7A6C57;
            margin-right: 10px;

            @include tablet() {
                width: 30%;
            }

            @include mobile() {
                width: 40%;
                margin-bottom: 10px;
            }

            @include small-mobile() {
                width: 50%;
                margin-bottom: 10px;
            }


        }

        h2 {
            width: 33%;

            @include tablet() {
                font-size: 1.2em;
            }

            @include mobile() {
                font-size: 0.8em;
            }


        }

        p {
            width: 20%;
            font-size: 1.5em;

            @include tablet() {
                font-size: 1.2em;
            }

            @include mobile() {
                font-size: 0.8em;
            }
        }

        a {
            font-size: 1.5em;
            color: black;
            width: 30%;
            margin-right: 10px;

            @include tablet() {
                font-size: 1em;
            }

            @include mobile() {
                width: 50%;
                font-size: 0.9em;
            }

            @include small-mobile() {
                font-size: 0.8em;
            }
        }
    }
}